{% extends "admin/base_site.html" %}
{% load space_to_underscore %}

{% block title %}List of Post with Average Rating{% endblock %}

{% block content %}
    <div id="content-main">
        <div class="container">
            <div class="row">
                <table class="table" >
                    <tr>
                        <th style="font-size: 20px ;">Post</th>
                        <th style="font-size: 20px ;">Average Rating Fow</th>
                    </tr>

                    {% for obj in object_list %}
                        <tr class="post-view" id="{{ obj.post_id__title }}" rating="{{ obj.avgRating }}">
                            <td style="font-size: 20px ;">{{ obj.post_id__title }}</td>
                            <td style="font-size: 20px ;">
                                <div class="stars-outer" id="stars-outer">
                                    <div class="stars-inner" id="stars-inner"></div>
                                </div>
                            </td>
                        </tr>

                    {% endfor %}

                </table>
            </div>
        </div>
    </div>

    <script>
        (function () {
            // total number of stars
            const starTotal = 5;

            const rows = document.getElementsByClassName('post-view');

            for (var i = 0; i < rows.length; i++) {
                const row = rows[i];
                var rating  = row.getAttribute('rating');
                const starPercentage = Math.round((rating / starTotal) * 100);
                row.querySelector('.stars-inner').style.width = `${starPercentage}%`;
            }

        })();

    </script>
{% endblock %}