{% extends "newsletter_subscription_management/base.html" %}

{% block content %}
    <div class="container">
        <h1>{{ object.title }}</h1>
        <p class="lead">
            {{ object.text }}
        </p>
        <p>{{ object.published_date }}</p>

            <button onclick="rateController()">Rate</button>
            <div id="rat" style="display:none">
                <form method="post" action="{% url 'article:post_rate' %}">
                    {% csrf_token %}
                    <input name="post" type="hidden" value="{{ object.id }}">
                    {{ rating_form }}
                    <button type="submit" class="btn btn-submit">Submit</button>
                </form>
            </div>

    </div>

    <script>
        function rateController() {
            var x = document.getElementById("rat");
            if (x.style.display === "none") {
                x.style.display = "block";
            }
        }

    </script>
{% endblock %}